@import url("parallax-slider.css");		/* Parallax Slider */
body{
	/*background: #20FF93;
*/	/*background: url(../E1.jpg);*/*/ 
}

.footer {
padding-top: 50px;
padding-bottom: 10px;
text-align: center;
color: #FFFFFF;
border-radius: 10px;
font-weight: bold;
margin-top: 10px;

/*footer*/
  background-color: #0E13EB;
  border-color: #0E13EB;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#0E13EB), to(#0E13EB));
  background-image: -webkit-linear-gradient(top, #0E13EB, 0%, #0E13EB, 100%);
  background-image: -moz-linear-gradient(top, #0E13EB 0%, #0E13EB 100%);
  background-image: linear-gradient(to bottom, #0E13EB 0%, #0E13EB 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4ca82d', endColorstr='#ff3a8022', GradientType=0);
}
.oke {
	font-family: 'Times New Roman';
	font-size: 18px;
	color: #666;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Boogaloo" !important;
	font-weight: normal !important;
	color: #666;
	margin: 0;
	padding: 0;
}

.title {
	border-bottom: 3px double #f6f6f6;
	margin-bottom: 10px;
}

.title h1, .title h2, .title h3, .title h4, .title h5, .title h6 {
	border-bottom: 5px double #89c236 !important;
	margin-bottom: -4px !important;
	display: inline-block !important;
	padding: 0px 10px !important;
	margin-left:15px !important;
	margin-right:15px !important;
}

#wrapper {
	background: #fff;

}

/* #Lists
================================================== */
	ul, ol { margin: 0; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul {}
	ul ul li, ul ol li,
	ol ol li, ol ul li {}



/* Header
=================================================================== */
